<ng-template #productItem
    let-product="product"
    let-index="index">
    <div *ngIf="product != null" class="product-item">
        <img class="product-item-image" [src]="baseImageURL + product?.imageURL">
    </div>
</ng-template>

<div class="product-carousel-container">
    <div class="product-item-container">
        <ng-container *ngFor="let product of mediaList; let i = index"
            [ngTemplateOutlet]="productItem"
            [ngTemplateOutletContext]="{
                product: product,
                index: i
            }">
        </ng-container>
    </div>
    <div class="product-button-previous" (click)="previousProduct()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </div>
    <div class="product-button-next" (click)="nextProduct()">
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
</div>

